@page
@model RecruitingStaff.WebApp.Pages.User.Questionnaires.AnswerAuthorModel
@{
    ViewData["Title"] = Model.CandidateOptionsViewModel.CandidateViewModel.Name;
}
<div class="row justify-content-start">
    <div class="col-10">
        <a class="btn btn-dark"
           asp-route-questionId="@Model.QuestionId"
           asp-route-questionnaireId="@Model.QuestionnaireId"
           asp-page="AnswersOnQuestion">Ответы</a>
    </div>
</div>
@await Html.PartialAsync("Views/Candidates/CandidateOptionsView", Model.CandidateOptionsViewModel)
