@page
@model RecruitingStaff.WebApp.Pages.User.Questionnaires.QuestionnairesModel
@{
    ViewData["Title"] = "Анкеты";
}
<div class="row justify-content-center mb-3">
    <a class="btn btn-dark m-2" asp-page="QuestionnaireForm">Создать анкету</a>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-9">
        <div class="list-group">
            @foreach (var questionnaire in Model.Questionnaires)
            {
                <a class="list-group-item text-dark" asp-page="ConcreteQuestionnaire" asp-route-questionnaireId="@questionnaire.Id">@questionnaire.Name</a>
            }
        </div>
    </div>
</div>