@page
@model RecruitingStaff.WebApp.Pages.User.Candidates.CandidateQuestionnaires.CreateCandidateQuestionnaireModel
@{
}
<div class="row justify-content-center">
    <div class="col-5">
        <form method="post">

        </form>
    </div>
</div>