@page
@model RecruitingStaff.WebApp.Pages.User.Files.CompletedQuestionnaireParseModel
@{
    ViewData["Title"] = "Парсинг ответов";
}
<div class="row justify-content-center">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.DocumentParseViewModel.CandidateId" />
        <input type="hidden" asp-for="@Model.DocumentParseViewModel.QuestionnaireId" />
        <input type="hidden" asp-for="@Model.DocumentParseViewModel.IsCompletedQuestionnaire" />
        <div class="form-group">
            <label class="col-form-label">Файл анкеты</label>
            <input class="form-control-file"
                   type="file"
                   asp-for="@Model.DocumentParseViewModel.FormFile"
                   accept=".docx,.xlsx" />
        </div>
        <button class="btn btn-success">Отправить</button>
    </form>
</div>