@page
@model RecruitingStaff.WebApp.Pages.User.Files.QuestionsParseFormModel
@{
    ViewData["Title"] = "Добавить анкету";
}
<div class="row justify-content-center">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-form-label">Файл анкеты</label>
            <input class="form-control-file" type="file" name="formFile" accept=".docx,.xlsx"/>
        </div>
        <div class="form-group">
            <label>Тип анкеты</label>
            <select class="custom-select" name="jobQuestionnaire" asp-items="@Model.QuestionnaireTypes"></select>
        </div>
        <a class="btn btn-dark" asp-page="/User/Candidates/Candidates">Кандидаты</a>
        <button class="btn btn-success">Отправить</button>
    </form>
</div>