@page
@model RecruitingStaffWebApp.Pages.User.ConcreteContenderModel
@{
}
<div class="row justify-content-center">
    <div class="col-4">
        <h3>@Model.Contender.FullName</h3>
        <p>@Model.Contender.DateOfBirth</p>
        <p>@Model.Contender.Address</p>
    </div>
</div>