@page
@model RecruitingStaffWebApp.Pages.User.ConcreteContenderModel
@{
    ViewData["Title"] = Model.Contender.FullName;
}
<div class="row justify-content-start">
    <div class="col-4">
        <h3>@Model.Contender.FullName</h3>
        <p>@Model.Contender.DateOfBirth</p>
        <p>@Model.Contender.Address</p>
    </div>
</div>