@page
@model RecruitingStaff.WebApp.Pages.User.Candidates.Education.EducationModel
@{
}
<div class="row justify-content-center">
    <table class="table">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>